img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}

.navbar-div {
  display: flex;
}

.span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.17;
  text-transform: uppercase;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.pages-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}
.pages-link-first {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-decoration: none;
}
.pages-link-first:hover {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.pages-link-first:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.edit-element {
  padding: 24px 0;
}
.adress {
  font-style: normal;
}
.email {
  width: 153px;
  height: 24px;
}
.phone {
  width: 151px;
  height: 24px;
}
.adress-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
.adress-item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
  text-decoration: none;
}
.adress-item:hover {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #404bbf;
}
.adress-item:focus {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  height: 700px;
  width: auto;
  padding: 188px 0;
}
.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  line-height: 1.07;
  max-width: 496px;
  height: auto;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  margin-top: 48px;
}
.button-text {
  width: 105px;
  height: 24px;
}
.order-button:hover,
.order-button:focus {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  background-color: #404bbf;
}
.description {
  padding: 120px 0;
}

.description-list {
  display: flex;
  gap: 24px;
}

.our-team {
  display: flex;
  height: 732px;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-team-container {
  background-color: #f4f4fd;
  height: 732px;
  width: auto;
  padding: 120px 0;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 156px;
}
.employee-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}
.employee-description .team-paragraph {
  text-align: center;
}
.employee-description .employee-title {
  margin-bottom: 8px;
}

.portofolio {
  width: auto;
  height: 1000x;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
.portofolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  row-gap: 48px;
  justify-content: center;
}
.portofolio-item {
  height: 420px;
  width: calc((100% - 48px) / 3);
}
.portofolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portofolio-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: auto;
  justify-content: center;
}
.portofolio-description h3 {
  margin-bottom: 8px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
}
.section-subtitle {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  background-color: #ffffff;
}
.description-title {
  margin-bottom: 8px;
  text-align: start;
}

.description-card {
  width: calc((100% - 72px) / 4);
}
.section-paragraph {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
  height: 312px;
  display: flex;
  height: 312px;
  margin-top: 120px;
  width: auto;
  padding: 100px 0;
}
.footer-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f4f4fd;
  margin-top: 16px;
}
.footer-span {
  color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  width: 190px;
  height: 40px;
  margin-bottom: 72px;
  margin-left: 639px;
}
.our-team-item {
  height: 380px;
  width: 264px;
  gap: 32px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
}
.section-title-portofolio {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2e2f42;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.footer-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 264px;
  margin-left: 156px;
}
.footer a {
  margin-bottom: 16px;
  display: inline-block;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
